/gradle
/eclipse
/build
/.settings
/.gradle

README.txt
MinecraftForge-License.txt
MinecraftForge-Credits.txt
LICENSE-fml.txt
gradlew.bat
gradlew
CREDITS-fml.txt
/bin/

.classpath
.project

*.txt
*.bat